.custom-right-arrow {
  position: absolute !important;
  right: -20px;
  top: 75px;
  z-index: 1;
  border: 1px solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(-45deg);
}
.custom-right-arrow:hover {
  opacity: 1;
}

.custom-left-arrow {
  position: absolute !important;
  left: -25px;
  top: 75px;
  z-index: 1;
  border: 1px solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(135deg);
}
.custom-left-arrow {
  opacity: 1;
}